.env
.gitignore
node_modules
# Исключаем временные файлы
*.tmp
*.temp

# Исключаем файлы сборки
build/
out/
dist/

# Включаем папку dist (минимизированные файлы для продакшна)
dist
build*
production-index*
package-lock.json

